@model IEnumerable<SaleDashboardDbModel>

@{
    ViewData["Title"] = "Item Wise Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <!-- Custom Js for this form -->
    <script src="~/javascript/SaleDashboard.js"></script>
}
<section class="content-header">
    <div class="container">
        <div class="row justify-content-between">
            <h3><b>@ViewData["BranchName"]</b></h3>
            <h3><b>Date : @ViewData["Date"]</b></h3>
            <button class="btn btn-default" style="background-color: #31849B;color: white" onclick="goBack()">
                Back
            </button>
        </div>

    </div>
</section>
<section class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Item-Wise Sales</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 table-responsive" style="max-height: 450px">
                        <table id="example1" class="table table-bordered dataTable dtr-inline" aria-describedby="example1_info">
                            <thead>
                                <tr style="font-size: 16px">
                                    <th class="text-center" style="width: 50px">
                                        #
                                    </th>
                                    <th>
                                        Item Desc
                                    </th>
                                    <th class="text-right">
                                        Qty
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model)
                                {
                                    <tr>
                                        <td class="text-center">@Html.DisplayFor(modelItem => data.No)</td>
                                        <td>@Html.DisplayFor(modelItem => data.ItemDesc)</td>
                                        <td class="text-right">@Html.DisplayFor(modelItem => data.Qty)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

