@model SaleDashboardModels

@section links {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <style type="text/css">
        .form-check-input {
            width: 23px;
            height: 23px;
            margin-left: -2rem;
            margin-top: 0.08rem;
        }
    </style>
}

@section scripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/lib/adminlte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
}

<div class="row mt-3">
    <div class="col-md-12 table-responsive" style="max-height: 500px">
        <table id="example1" class="table table-bordered dataTable dtr-inline" aria-describedby="example1_info">
            <thead>
                <tr style="font-size: 16px">
                    <th>
                        No.
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Sale Amount
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.SaleDashboardList)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => data.No)</td>
                        <td>@Html.DisplayFor(modelItem => data.Branch)</td>
                        <td style="text-align: right">@Html.DisplayFor(modelItem => data.SaleAmount)</td>
                        <td style="text-align: center">
                            <a asp-action="DateWiseSales" asp-controller="SaleDashboard"
                               asp-route-name="@data.Branch" asp-route-fromDate="@Model.SaleDashboard.FromDate"
                               asp-route-toDate="@Model.SaleDashboard.ToDate" style="color : #31849B">...</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td><b>Total</b></td>
                    <td style="text-align: right"><b>@Html.DisplayFor(modelItem => @Model.TotalAmt)</b></td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card collapsed-card ">
    <div class="card-header">
        <h3 class="card-title">Currencies</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-md-12 table-responsive" style="max-height: 500px">
                <table id="example2" class="table table-bordered dataTable dtr-inline" aria-describedby="example2_info">
                    <thead>
                        <tr style="font-size: 16px">
                            <th>
                                No.
                            </th>
                            <th>
                                Currency
                            </th>
                            <th>
                                Sale Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.SaleCurrList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => data.No)</td>
                                <td>@Html.DisplayFor(modelItem => data.CurrCde)</td>
                                <td style="text-align: right">@Html.DisplayFor(modelItem => data.SaleAmount)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
